In [41]:
import cobra

In [42]:
from cobra import Model,Reaction,Metabolite

In [43]:
model=Model('sample')



# V1 : A =====> B ##
V1=Reaction('v1')
V1.name='V1'
V1.lower_bound=0
V1.upper_bound=1000

# V2 : B =====> c ##
V2=Reaction('v2')
V2.name='V2'
V2.lower_bound=0
V2.upper_bound=1000

# V0 : =====> A ##
V0=Reaction('v0')
V0.name='V0'
V0.lower_bound=20
V0.upper_bound=20

# M : C =====>  ##
M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

# V3 : A =====> ATP ##
V3=Reaction('V3')
V3.name='V3'
V3.lower_bound=18
V3.upper_bound=18

# V4 : ATP =====>  ##
V4=Reaction('v4')
V4.name='v4'
V4.lower_bound=0
V4.upper_bound=1000

In [44]:
A= Metabolite('A',compartment='c')
B=Metabolite( 'B',compartment='c')
C= Metabolite( 'C',compartment='c')

ATP= Metabolite( 'ATP',compartment='c')

In [45]:
# add metabolites in reaction V1 #
V1.add_metabolites({A:-1,B:1})

# add metabolites in reaction V2 #
V2.add_metabolites({B:-1,C:1})

# add metabolites in reaction V0 #
V0.add_metabolites({A:1})

# add metabolites in reaction M #
M.add_metabolites({C:-1})

# add metabolites in reaction V3 #
V3.add_metabolites({A:-1,ATP:1})

# add metabolites in reaction V4 #
V4.add_metabolites({ATP:-1})

# add reactions in model  #
model.add_reactions([V0,V1,V2,V3,V4,M])

# put M as a objective function  #
model.objective = M

In [46]:
model.optimize()

In [47]:
model.summary()